.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Ensures alignment at the start of the container */
  padding: 10px;
  flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines as needed */
}

label {
  padding: 8px; /* Adds padding around the text of each label */
  display: block; /* Ensures labels are block level to help with spacing */
  margin-bottom: 5px; /* Adds space below each label for clarity */
}

.text-inputs-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Right margin separates this container from others, if any */
  flex-grow: 1; /* Allows the container to grow to fill available space */
  padding-bottom: 20px; /* Adds padding at the bottom of each input container */
}

.name-inputs, .konami-input {
  display: flex;
  flex-direction: column;
}

.input, .text-inputs-container .input {
  margin-bottom: 15px; /* Increases space below each input field */
  width: 100%; /* Ensures input fields take full width of their container */
  padding: 8px; /* Adds padding inside each input field for better text visibility */
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0; /* Prevents the button container from shrinking */
  padding-top: 10px; /* Adds space above the button container */
}

button {
  margin-bottom: 10px; /* Space between buttons */
  cursor: pointer; /* Changes the cursor on hover to indicate clickable */
  padding: 8px 16px; /* Pads the button for better clickability and aesthetics */
}

@media (max-width: 768px) {
  .layout-container {
    flex-direction: column; /* Stacks the layout vertically on smaller screens */
  }

  .text-inputs-container, .buttons-container {
    width: 100%; /* Full width on smaller screens for better accessibility */
    margin-right: 0; /* Removes right margin on smaller screens */
    margin-bottom: 20px; /* Adds more space at the bottom of each container */
  }

  .input, .text-inputs-container .input {
    width: auto; /* Allows input width to adjust naturally within the container */
  }

  .name-inputs, .konami-input {
    flex-direction: column; /* Keeps inputs stacked vertically on smaller screens */
  }
}
